@model Car_Project.ViewModels.SalesAgent.SalesAgentIndexViewModel

<!-- breadcrumb -->
<section class="background-light mb-32">
	<div class="container">
		<ul class="breadcrumb">
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li><img src="~/assets/icons/right.svg" alt="chevron-right"></li>
			<li><a asp-controller="Home" asp-action="Index">Pages</a></li>
			<li><img src="~/assets/icons/right.svg" alt="chevron-right"></li>
			<li><span>Sale Agents</span></li>
		</ul>
	</div>
</section>
<!-- breadcrumb -->

<section class="pb-100">
	<div class="container">
		<h2>Sale Agents</h2>
	</div>
	<div class="tf-spacing-style3"></div>

	<div class="container mb-40">
		@if (!Model.Agents.Any())
		{
			<p class="text-secondary text-center">Hazırda aktiv agent yoxdur.</p>
		}
		else
		{
			<div class="grid grid-cols-4 sm-grid-cols-1 lg-grid-cols-2 gap-30 xl-gap-16">
				@foreach (var agent in Model.Agents)
				{
					<div class="sale-agent-box">
						<div class="card-top mb-20">
							<a class="w-full flex" asp-controller="SalesAgent" asp-action="Details" asp-route-id="@agent.Id">
								<img class="w-full" src="@(agent.ImageUrl ?? "~/assets/images/pages/sale-agent-1.jpg")" alt="@agent.FullName">
							</a>

							<ul class="sale-agent-social justify-center flex gap-12">
								@if (!string.IsNullOrEmpty(agent.FacebookUrl))
								{
									<li>
										<a href="@agent.FacebookUrl" target="_blank">
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_13439_102340)">
													<path d="M6.25 11.25L8.75 8.75L11.25 11.25L13.75 8.75" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M6.24382 16.4932C7.81923 17.405 9.67248 17.7127 11.458 17.359C13.2436 17.0053 14.8396 16.0143 15.9484 14.5708C17.0573 13.1273 17.6033 11.3298 17.4847 9.51341C17.3662 7.69704 16.5911 5.98577 15.304 4.69866C14.0169 3.41156 12.3056 2.63646 10.4892 2.51789C8.67284 2.39932 6.87533 2.94537 5.43182 4.05422C3.98831 5.16308 2.99733 6.75906 2.64363 8.54461C2.28993 10.3302 2.59766 12.1834 3.50944 13.7588L2.5321 16.6768C2.49538 16.7869 2.49005 16.9051 2.51671 17.0181C2.54337 17.131 2.60097 17.2344 2.68306 17.3165C2.76514 17.3985 2.86847 17.4561 2.98145 17.4828C3.09443 17.5095 3.2126 17.5041 3.32273 17.4674L6.24382 16.4932Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
												</g>
											</svg>
										</a>
									</li>
								}
								@if (!string.IsNullOrEmpty(agent.TwitterUrl))
								{
									<li>
										<a href="@agent.TwitterUrl" target="_blank">
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_13439_102345)">
													<path d="M3.75 3.125H7.5L16.25 16.875H12.5L3.75 3.125Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M8.89687 11.2129L3.75 16.8746" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M16.2484 3.125L11.1016 8.78672" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
												</g>
											</svg>
										</a>
									</li>
								}
								@if (!string.IsNullOrEmpty(agent.InstagramUrl))
								{
									<li>
										<a href="@agent.InstagramUrl" target="_blank">
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_13439_102351)">
													<path d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M13.75 2.5H6.25C4.17893 2.5 2.5 4.17893 2.5 6.25V13.75C2.5 15.8211 4.17893 17.5 6.25 17.5H13.75C15.8211 17.5 17.5 15.8211 17.5 13.75V6.25C17.5 4.17893 15.8211 2.5 13.75 2.5Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M14.0625 6.71875C14.494 6.71875 14.8438 6.36897 14.8438 5.9375C14.8438 5.50603 14.494 5.15625 14.0625 5.15625C13.631 5.15625 13.2812 5.50603 13.2812 5.9375C13.2812 6.36897 13.631 6.71875 14.0625 6.71875Z" fill="#fff" />
												</g>
											</svg>
										</a>
									</li>
								}
								@if (!string.IsNullOrEmpty(agent.SkypeUrl))
								{
									<li>
										<a href="@agent.SkypeUrl" target="_blank">
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_13439_102148)">
													<path d="M7.5 11.875C7.5 12.9102 8.61953 13.75 10 13.75C11.3805 13.75 12.5 12.9102 12.5 11.875C12.5 9.375 7.63906 10.3125 7.63906 8.125C7.63906 7.08984 8.61953 6.25 10 6.25C11.0352 6.25 11.8461 6.71875 12.1875 7.39531" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M16.7185 11.4599C17.2734 12.1817 17.5469 13.0806 17.4877 13.9891C17.4286 14.8976 17.0411 15.7536 16.3973 16.3973C15.7536 17.0411 14.8976 17.4286 13.9891 17.4877C13.0806 17.5469 12.1817 17.2734 11.4599 16.7185C10.3352 16.9617 9.16735 16.9188 8.06341 16.5939C6.95947 16.269 5.95465 15.6723 5.14094 14.8586C4.32722 14.0449 3.7306 13.0401 3.40567 11.9362C3.08074 10.8322 3.03789 9.66441 3.28103 8.53963C2.72612 7.81789 2.45272 6.91893 2.51182 6.01045C2.57093 5.10197 2.95851 4.24601 3.60226 3.60226C4.24601 2.95851 5.10197 2.57093 6.01045 2.51182C6.91893 2.45272 7.81789 2.72612 8.53963 3.28103C9.66441 3.03789 10.8322 3.08074 11.9362 3.40567C13.0401 3.7306 14.0449 4.32722 14.8586 5.14094C15.6723 5.95465 16.269 6.95947 16.5939 8.06341C16.9188 9.16735 16.9617 10.3352 16.7185 11.4599Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
												</g>
											</svg>
										</a>
									</li>
								}
								@if (!string.IsNullOrEmpty(agent.TelegramUrl))
								{
									<li>
										<a href="@agent.TelegramUrl" target="_blank">
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_13439_102153)">
													<path d="M6.24939 10.5366L13.301 16.7186C13.3822 16.7903 13.4806 16.8396 13.5867 16.8618C13.6927 16.8839 13.8027 16.8781 13.9058 16.845C14.0089 16.8118 14.1016 16.7524 14.1749 16.6726C14.2481 16.5928 14.2994 16.4953 14.3236 16.3897L17.4994 2.59521C17.5025 2.58138 17.5018 2.56696 17.4973 2.55351C17.4928 2.54006 17.4848 2.52807 17.474 2.51884C17.4633 2.50961 17.4502 2.50348 17.4362 2.5011C17.4223 2.49873 17.4079 2.5002 17.3947 2.50537L1.56189 8.70146C1.4636 8.73929 1.38023 8.80798 1.3243 8.89722C1.26837 8.98646 1.2429 9.09143 1.2517 9.19638C1.26051 9.30133 1.30312 9.4006 1.37313 9.47927C1.44315 9.55794 1.5368 9.61178 1.64001 9.63271L6.24939 10.5366Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M6.25 10.5375L17.4539 2.50781" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
													<path d="M9.71641 13.5789L7.325 16.0602C7.23859 16.1498 7.12737 16.2116 7.00561 16.2376C6.88384 16.2636 6.75708 16.2527 6.64157 16.2062C6.52607 16.1597 6.42709 16.0797 6.35732 15.9766C6.28755 15.8735 6.25018 15.7519 6.25 15.6273V10.5391" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
												</g>
											</svg>
										</a>
									</li>
								}
							</ul>
						</div>

						<div class="card-bottom flex items-center justify-between gap-16">
							<div class="content">
								<a class="h5 font-weight-600 sale-agent-title"
								   asp-controller="SalesAgent" asp-action="Details" asp-route-id="@agent.Id">
									@agent.FullName
								</a>
								<p class="text-secondary text-sm">@agent.Title</p>
							</div>

							<ul class="contact">
								@if (!string.IsNullOrEmpty(agent.Phone1))
								{
									<li>
										<a href="tel:@agent.Phone1">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.4563 3.60396C14.4753 3.53253 14.5082 3.46556 14.5532 3.40687C14.5981 3.34818 14.6542 3.29892 14.7182 3.26191C14.7822 3.22491 14.8529 3.20088 14.9261 3.19121C14.9994 3.18153 15.0739 3.1864 15.1453 3.20552C16.5039 3.55992 17.7435 4.27011 18.7363 5.26294C19.7292 6.25578 20.4394 7.49535 20.7938 8.85396C20.8129 8.92537 20.8178 8.99985 20.8081 9.07313C20.7984 9.14642 20.7744 9.21709 20.7374 9.28108C20.7004 9.34508 20.6511 9.40115 20.5924 9.4461C20.5337 9.49104 20.4668 9.52398 20.3953 9.54303C20.3479 9.55565 20.2991 9.56195 20.25 9.56177C20.1261 9.56185 20.0056 9.52099 19.9073 9.44555C19.8089 9.37011 19.7383 9.26431 19.7063 9.14459C19.402 7.97758 18.792 6.91281 17.9393 6.06002C17.0865 5.20724 16.0217 4.59728 14.8547 4.29302C14.7833 4.27398 14.7163 4.24104 14.6576 4.1961C14.5989 4.15115 14.5497 4.09508 14.5126 4.03108C14.4756 3.96709 14.4516 3.89642 14.4419 3.82313C14.4323 3.74985 14.4371 3.67537 14.4563 3.60396ZM14.1047 7.29303C15.4688 7.65677 16.3425 8.53053 16.7063 9.89459C16.7383 10.0143 16.8089 10.1201 16.9073 10.1956C17.0056 10.271 17.1261 10.3119 17.25 10.3118C17.2991 10.312 17.3479 10.3056 17.3953 10.293C17.4668 10.274 17.5337 10.241 17.5924 10.1961C17.6511 10.1512 17.7004 10.0951 17.7374 10.0311C17.7744 9.96709 17.7984 9.89642 17.8081 9.82313C17.8178 9.74985 17.8129 9.67537 17.7938 9.60396C17.325 7.8499 16.1494 6.67427 14.3953 6.20552C14.3239 6.18644 14.2494 6.18161 14.1762 6.19131C14.1029 6.201 14.0323 6.22504 13.9683 6.26203C13.839 6.33676 13.7448 6.45975 13.7063 6.60396C13.6677 6.74817 13.688 6.90179 13.7628 7.03101C13.8375 7.16024 13.9605 7.25449 14.1047 7.29303ZM21.5522 16.3868C21.3916 17.6123 20.7902 18.7374 19.8604 19.5518C18.9306 20.3661 17.736 20.8141 16.5 20.8118C9.15938 20.8118 3.18751 14.8399 3.18751 7.49927C3.18514 6.26369 3.63265 5.0695 4.44645 4.13976C5.26025 3.21003 6.38468 2.60834 7.6097 2.44709C7.89169 2.41282 8.1772 2.47096 8.42333 2.6128C8.66947 2.75463 8.86294 2.97248 8.9747 3.23365L10.9528 7.64927C11.0402 7.84917 11.0763 8.06769 11.058 8.28507C11.0396 8.50245 10.9674 8.71183 10.8478 8.89427C10.8358 8.91285 10.8226 8.93069 10.8084 8.94771L8.83313 11.2971C8.82114 11.3214 8.8149 11.3482 8.8149 11.3754C8.8149 11.4025 8.82114 11.4293 8.83313 11.4536C9.55126 12.9236 11.0925 14.4536 12.5831 15.1708C12.608 15.1822 12.6352 15.1876 12.6625 15.1866C12.6899 15.1856 12.7166 15.1783 12.7406 15.1652L15.0553 13.1965C15.0718 13.1821 15.0894 13.1689 15.1078 13.1571C15.2895 13.036 15.4984 12.9621 15.7158 12.9421C15.9332 12.9222 16.1522 12.9567 16.3528 13.0427L20.7816 15.0274C21.0393 15.1416 21.2533 15.3357 21.3921 15.5811C21.5309 15.8264 21.587 16.1099 21.5522 16.3896V16.3868ZM20.4375 16.248C20.4407 16.2088 20.4314 16.1696 20.411 16.136C20.3907 16.1023 20.3603 16.0759 20.3241 16.0605L15.8944 14.0758C15.8702 14.0665 15.8442 14.0625 15.8184 14.0641C15.7925 14.0657 15.7672 14.0729 15.7444 14.0852L13.4306 16.054C13.4138 16.068 13.3959 16.0811 13.3781 16.0933C13.1894 16.2192 12.9713 16.294 12.745 16.3104C12.5188 16.3268 12.2921 16.2844 12.0872 16.1871C10.3659 15.3555 8.65032 13.6558 7.81876 11.9505C7.72095 11.7468 7.67742 11.5212 7.69236 11.2957C7.70731 11.0702 7.78023 10.8524 7.90407 10.6633C7.91614 10.6445 7.92962 10.6267 7.94438 10.6099L9.91876 8.26052C9.93004 8.23597 9.93588 8.20927 9.93588 8.18224C9.93588 8.15522 9.93004 8.12852 9.91876 8.10396L7.94438 3.68459C7.93135 3.64912 7.90791 3.61841 7.87713 3.5965C7.84635 3.57458 7.80966 3.56248 7.77188 3.56177H7.75032C6.79683 3.68861 5.9221 4.15816 5.28947 4.88274C4.65685 5.60732 4.30958 6.53739 4.31251 7.49927C4.31251 14.2193 9.78001 19.6868 16.5 19.6868C17.462 19.6897 18.3922 19.3423 19.1168 18.7095C19.8414 18.0766 20.3109 17.2017 20.4375 16.248Z" fill="#1C1C1C" />
											</svg>
										</a>
									</li>
								}
								@if (!string.IsNullOrEmpty(agent.Email))
								{
									<li>
										<a href="mailto:@agent.Email">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M21 4.6875H3C2.85082 4.6875 2.70774 4.74676 2.60225 4.85225C2.49676 4.95774 2.4375 5.10082 2.4375 5.25V18C2.4375 18.3481 2.57578 18.6819 2.82192 18.9281C3.06806 19.1742 3.4019 19.3125 3.75 19.3125H20.25C20.5981 19.3125 20.9319 19.1742 21.1781 18.9281C21.4242 18.6819 21.5625 18.3481 21.5625 18V5.25C21.5625 5.10082 21.5032 4.95774 21.3977 4.85225C21.2923 4.74676 21.1492 4.6875 21 4.6875ZM12 12.7369L4.44562 5.8125H19.5544L12 12.7369ZM9.53156 12L3.5625 17.4713V6.52875L9.53156 12ZM10.3641 12.7631L11.625 13.9144C11.7287 14.0092 11.8641 14.0619 12.0047 14.0619C12.1452 14.0619 12.2807 14.0092 12.3844 13.9144L13.6406 12.7631L19.5544 18.1875H4.44656L10.3641 12.7631ZM14.4684 12L20.4375 6.52875V17.4713L14.4684 12Z" fill="#1C1C1C" />
											</svg>
										</a>
									</li>
								}
							</ul>
						</div>
					</div>
				}
			</div>
		}
	</div>

	<div class="container">
		<ul class="pagination justify-center">
			<li>
				<a href="#" class="pagination__link">
					1
				</a>
			</li>
			<li>
				<a href="#" class="pagination__link active">
					2
				</a>
			</li>
			<li>
				<a href="#" class="pagination__link">
					3
				</a>
			</li>
			<li>
				<a href="#" class="pagination__link">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.1925 10.4423L7.94254 16.6923C7.88447 16.7504 7.81553 16.7964 7.73966 16.8278C7.66379 16.8593 7.58247 16.8755 7.50035 16.8755C7.41823 16.8755 7.33691 16.8593 7.26104 16.8278C7.18517 16.7964 7.11623 16.7504 7.05816 16.6923C7.00009 16.6342 6.95403 16.5653 6.9226 16.4894C6.89117 16.4135 6.875 16.3322 6.875 16.2501C6.875 16.168 6.89117 16.0867 6.9226 16.0108C6.95403 15.9349 7.00009 15.866 7.05816 15.8079L12.8668 10.0001L7.05816 4.19229C6.94088 4.07502 6.875 3.91596 6.875 3.7501C6.875 3.58425 6.94088 3.42519 7.05816 3.30792C7.17544 3.19064 7.3345 3.12476 7.50035 3.12476C7.6662 3.12476 7.82526 3.19064 7.94254 3.30792L14.1925 9.55791C14.2506 9.61596 14.2967 9.68489 14.3282 9.76077C14.3597 9.83664 14.3758 9.91797 14.3758 10.0001C14.3758 10.0822 14.3597 10.1636 14.3282 10.2394C14.2967 10.3153 14.2506 10.3842 14.1925 10.4423Z" fill="#9FA1A4" />
					</svg>
				</a>
			</li>
		</ul>
	</div>
</section>